---
import Layout from "../layouts/Layout.astro";

import PleaseWriteYourWorriesImg from "../assets/Please, write your worries.png";
import { AliceMarquee } from "../components/gardenComponents/mainPage/AliceMarquee";
import { SubmissionForm } from "../components/gardenComponents/mainPage/SubmissionForm";
import { OtherStories } from "../components/gardenComponents/mainPage/OtherStories";
---

<Layout title="Welcome to Alisa's world.">
  <main>
    <section class="one">
      <div class="background-gradient"></div>
      <img
        draggable="false"
        src={PleaseWriteYourWorriesImg.src}
        alt="Please write your worries"
      />
      <SubmissionForm client:load />
      <AliceMarquee client:load />
    </section>

    <section class="two">
      <div class="background-wiggle"></div>
      <h2>You might relate with these thoughts...</h2>
      <OtherStories client:load />
    </section>
  </main>
</Layout>

<style>
  main,
  body {
    margin: 0;
  }
  section.one {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    justify-content: space-between;

    height: 100vh;
    width: 100vw;

    overflow: hidden;
  }

  section.one > img {
    margin: 16px;
    width: 80%;
  }

  section.one .background-gradient {
    height: max(100vh, 100vw);
    width: max(100vh, 100vw);
    z-index: -1;

    top: calc(50vh - max(100vh, 100vw) / 2);

    position: absolute;

    background: repeating-radial-gradient(
      #458ed5,
      #458ed5 40px,
      #7bb1e3 40px,
      #7bb1e3 100px
    );
  }

  section.two {
    /* height: 200vh; */
    background-color: #8e3bab;
    overflow: hidden;
    position: relative;
  }

  section.two .background-wiggle {
    position: absolute;
    z-index: 0;
    margin: -5px;
    height: 100%;
    width: 100%;
    background-image: url("../assets/background_wiggle.png");
    background-size: cover;
  }

  section.two h2 {
    position: relative;
    z-index: 1;

    font-family: Asset, sans-serif;
    color: #1abc00;

    height: 250px;
    font-size: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    text-shadow:
      2px 0 black,
      -2px 0 black,
      0 2px black,
      0 -2px black,
      1px 1px black,
      -1px -1px black,
      1px -1px black,
      -1px 1px black;
  }
</style>
